@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}




body {
   font-family: "Poppins", sans-serif; 
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .header {
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(../imagenes/pixelcut-export.png);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        min-height: 80vh;
        display: flex;
        align-items: center;
    
  }

  .menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    color: #fffdfc;
    font-size: 25px;
    font-weight: 800;
  }

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #fffdfc;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: rgb(219, 111, 219);
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 55px;
    line-height: 80px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p {
    font-size: 16px;
    color: #c5c5c5;
    padding: 0 250px;
    margin-bottom: 25px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: #fc9a9a;
    color: #f9fafc;
    text-transform: uppercase;
}

.btn-1:hover {
    background-color: #f87c7c;
}

.pastel {
    padding: 100px 0;
    background-color: #e1e2e6;
    position: relative;
}

.pastel-content {
    text-align: center;
}

.pastel-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323347;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.txt-p {
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}

.pastel-group {
    display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 50px;
}

.pastel-1 {
    padding: 0 25px;
} 

.pastel-1 img {
    width: 200px;
    height: 220px;
    border: 3px solid #fc9a9a;
    border-radius: 35px;
}

.pastel-img {
    position: absolute;
    top: 0;
    right: 0;
}

.pastel-1 h3 {
    color: #323337; 
    font-size: 20px;
}

.servicios {
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(../imagenes/pastelito.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 100px 0;
}

.services-content {
    text-align: center;
}

.services-content {
    font-size: 55px;
    line-height: 30px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.services-content p {
    font-size: 16px;
    color: #c5c5c5;
    margin-bottom: 50px;
    padding: 0 100px;
}

.servicios-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.servicios-1 {
    padding: 0 100px;
}


.servicios-1 img {
    width: 50px;
    margin-bottom: 15px;
}

.servicios-1 h3 {
    color: #eaccb3;
    font-size: 18px;
}

.general {
    display: flex;
}

.general-1 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #e1e2e6;
    
}

.general-2 {
    background-image: url(../imagenes/aestetik.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-3 {
    background-image: url(../imagenes/aesteti.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.general .blog p {
    font-size: 16px;
    color: #414247;
    margin: 25px 0 45px 0;
}

.blog {
    padding: 100px 0;
    text-align: center;
}

.blog h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.blog p {
    font-size: 16px;
    color: #414247;
    margin: 25px 0 45px 0;
}

.blog-content {
    display: flex;
    justify-content: space-between;
}

.blog-1 {
    padding: 15px 55px;
}

.blog-1 img {
    width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.blog-1 {
    font-size: 25px;
    color: #323347;
}

.footer {
    padding: 100px 0;
    background-color: #000;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.link h3 {
    font-size: 18px;
    color: #f9fafc;
    margin-bottom: 15px;
    align-items: center;
}



.link a {
    font-size: 16px;
    color: #f9fafc;
    display: block;
    margin-bottom: 15px;
}